.catalog {
  margin-bottom: 49px;

  @media (min-width: @tablet) {
    margin-bottom: 73px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 67px;
  }
}

.catalog__list {
  .list-reset();
  width: 320px;
  display: grid;
  grid-template-columns: 320px;
  gap: 20px;
  margin: 0 auto;

  @media (min-width: @tablet) {
    width: 620px;
    grid-template-columns: 300px 300px;
  }

  @media (min-width: @desktop) {
    width: 940px;
    grid-template-columns: 300px 300px 300px;
    gap: 54px 20px;
  }
}

.card {
  width: 280px;
  margin: 0 auto;
  padding: 0 10px 25px 17px;
  background-color: @special_white;

  @media (min-width: @tablet) {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 0 30px 30px 30px;
  }

  @media (min-width: @desktop) {
    padding: 0 27px 29px 27px;
  }

  &--panorama {
    position: relative;
    @media (min-width: @tablet) {
      position: relative;
      width: 620px;
      grid-column: 1/-1;
    }

    @media (min-width: @desktop) {
      width: 940px;
    }
  }

  &--panorama::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "ПАНОРАМА ДНЯ";
    width: 140px;
    padding: 5px 0 5px 0;
    text-align: center;
    background-color: @basic_red;
    color: @basic_white;
    font-weight: 700;
    font-size: 12px;

    @media (min-width: @tablet) {
      top: 57px;
    }

    @media (min-width: @desktop) {
      top: 54px;
    }
  }
}

.card__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-left: -17px;

  @media (min-width: @tablet) {
    margin: 0;
    margin-bottom: 30px;
    margin-left: -20px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 32px;
  }

  &--panorama {
    margin-left: -37px;

    @media (min-width: @tablet) {
      margin: 0;
      margin-bottom: 30px;
    }
  }
}

.card__author {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.card__author-date {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
}

.card__text {
  margin: 0;
  margin-bottom: 13px;
}

.card__likes {
  display: flex;
  align-items: center;
  color: @basic_red;
  text-transform: uppercase;
  font-size: 12px;

  @media (min-width: @tablet) {
    margin-top: auto;
    justify-content: space-between;
  }

  &--panorama {
    @media (min-width: @tablet) {
      position: absolute;
      top: 166px;
      left: 471px;
    }
  }
}

.card__likes-heart {
  margin-right: 18px;

  @media (min-width: @tablet) {
    order: 1;
  }

  &--panorama {
    @media (min-width: @tablet) {
      margin-left: 16px;
    }
  }
}
