.catalog-main {
  padding-top: 54px;
}
.page-main__text {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;
  line-height: 30px;
}
.page__main-text-2 {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 52px;
  text-align: center;
  line-height: 30px;
}
