@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}
.page__body {
  margin: 0;
  background-color: #ffffff;
  color: #283645;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}
.visually-hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  opacity: 0;
}
.page-header {
  width: 100%;
  margin: 0 auto;
  background: url("../img/arm.png") no-repeat center 176px/320px 286px, #283645 url("../img/header-back.png") no-repeat center 0/320px 462px;
  color: #ffffff;
}
@media (min-width: 660px) {
  .page-header {
    width: 100%;
    background: url("../img/arm@tablet.png") no-repeat center 184px/660px 545px, #283645 url("../img/header-back@tablet.png") no-repeat center 0/660px 729px;
    padding-bottom: 87px;
  }
}
@media (min-width: 1200px) {
  .page-header {
    width: 100%;
    background: url("../img/arm@desktop.png") no-repeat center 208px/1050px 645px, #283645 url("../img/header-back@desktop.png") no-repeat center 0/1200px 853px;
    padding-bottom: 120px;
  }
}
.page-header--catalog {
  background: none, #283645 url("../img/header-back.png") no-repeat center 0/320px 462px;
}
@media (min-width: 660px) {
  .page-header--catalog {
    background: none, #283645 url("../img/header-back@tablet.png") no-repeat center 0/660px 729px;
  }
}
@media (min-width: 1200px) {
  .page-header--catalog {
    background: none, #283645 url("../img/header-back@desktop.png") no-repeat center 0/1200px 853px;
  }
}
.page-header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 20px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 660px) {
  .page-header__navigation {
    padding: 27px 20px 43px 20px;
    margin-bottom: 102px;
  }
}
@media (min-width: 1200px) {
  .page-header__navigation {
    justify-content: space-between;
    padding: 27px 130px 43px 130px;
    margin-bottom: 114px;
  }
}
.page-header__navigation--active {
  background-color: #283645;
}
.page-header__menu-toggler {
  position: relative;
  width: 50px;
  height: 24px;
  border: none;
  background-color: transparent;
}
@media (min-width: 1200px) {
  .page-header__menu-toggler {
    display: none;
  }
}
.page-header__menu-toggler::before {
  position: absolute;
  top: -2px;
  left: 0;
  content: "";
  width: 50px;
  height: 5px;
  background-color: #ffffff;
  box-shadow: 0 11px 0 0 #ffffff, 0 22px 0 0 #ffffff;
}
.page-header__menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
}
.page-header__menu--open {
  position: absolute;
  top: 70px;
  left: 0;
  display: block;
  width: 100%;
  border-top: 1px solid #000000;
  background-color: #283645;
}
@media (min-width: 1200px) {
  .page-header__menu {
    display: flex;
    align-items: center;
    gap: 79px;
    flex-wrap: wrap;
    position: static;
    border: none;
    background-color: transparent;
  }
}
.page-header__menu-link {
  display: block;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid #000000;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  text-align: center;
  color: inherit;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .page-header__menu-link {
    border: none;
    line-height: 18px;
    font-weight: 400;
  }
}
.page-header__menu-link:hover {
  color: #d22856;
}
.page-header__menu-link:active {
  color: rgba(255, 255, 255, 0.3);
}
.page-header__menu-link--active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 13px;
}
.page-header__heading-container {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 660px) {
  .page-header__heading-container {
    width: 660px;
  }
}
@media (min-width: 1200px) {
  .page-header__heading-container {
    width: 1200px;
  }
}
.page-header__heading {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 310px;
  text-align: center;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 300;
}
@media (min-width: 660px) {
  .page-header__heading {
    width: 230px;
    margin: 0;
    margin-left: 55px;
    margin-bottom: 39px;
    font-size: 40px;
    line-height: 48px;
  }
}
@media (min-width: 1200px) {
  .page-header__heading {
    width: 300px;
    margin-left: 130px;
    margin-bottom: 51px;
    font-size: 50px;
    line-height: 50px;
  }
}
.page-header__install-container {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 660px) {
  .page-header__install-container {
    width: 660px;
  }
}
@media (min-width: 1200px) {
  .page-header__install-container {
    width: 1200px;
  }
}
.install {
  padding: 28px 20px 38px 20px;
  background-color: #1d2631;
}
@media (min-width: 660px) {
  .install {
    width: 300px;
    margin-left: 20px;
    padding: 0;
    background-color: transparent;
  }
}
@media (min-width: 1200px) {
  .install {
    margin-left: 130px;
  }
}
.install__link {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 32px;
  border: 3px solid #ffffff;
  padding-top: 20px;
  padding-bottom: 18px;
  border-radius: 29px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}
@media (min-width: 660px) {
  .install__link {
    width: 300px;
    margin-bottom: 46px;
  }
}
@media (min-width: 1200px) {
  .install__link {
    margin-bottom: 67px;
    font-size: 21px;
  }
}
.install__link:hover {
  background-color: #ffffff;
  color: #d22856;
}
.install__link:active {
  background-color: #ffffff;
  color: rgba(210, 40, 86, 0.3);
}
.install__links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
  width: 280px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
  margin-bottom: 28px;
}
@media (min-width: 660px) {
  .install__links-list {
    margin-bottom: 38px;
  }
}
@media (min-width: 1200px) {
  .install__links-list {
    margin-bottom: 58px;
  }
}
.install__ally {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
}
@media (min-width: 660px) {
  .install__ally {
    width: 300px;
    font-size: 18px;
    line-height: 24px;
  }
}
.page-header__content--catalog {
  padding: 16px 20px 64px 20px;
}
@media (min-width: 660px) {
  .page-header__content--catalog {
    padding: 0 20px 43px 20px;
  }
}
.catalog-title {
  width: 172px;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 35px;
}
@media (min-width: 660px) {
  .catalog-title {
    width: 358px;
    font-size: 50px;
    line-height: 60px;
  }
}
.advantages {
  position: relative;
  padding-top: 46px;
  background: url("../img/advantages-grey-background.svg") no-repeat center 174px/100% 828px;
}
@media (min-width: 660px) {
  .advantages {
    padding-top: 58px;
    padding-bottom: 49px;
    background-size: 100% 695px;
    background-position: center 216px;
  }
}
@media (min-width: 1200px) {
  .advantages {
    padding-top: 67px;
    padding-bottom: 59px;
    background: url("../img/advantages-grey-background@desktop.svg") no-repeat center 317px/100% 715px;
  }
}
.advantages__start-text {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 123px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}
@media (min-width: 660px) {
  .advantages__start-text {
    width: 588px;
    margin-bottom: 122px;
    font-size: 40px;
    line-height: 50px;
  }
  .advantages__start-text br:first-child {
    display: none;
  }
  .advantages__start-text br:nth-child(2) {
    display: none;
  }
}
@media (min-width: 1200px) {
  .advantages__start-text {
    width: 780px;
    margin-bottom: 72px;
    font-size: 50px;
    line-height: 60px;
  }
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 28px;
}
@media (min-width: 660px) {
  .advantages__list {
    width: 620px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .advantages__list {
    width: 940px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
.advantages__item {
  margin-bottom: 23px;
}
@media (min-width: 660px) {
  .advantages__item {
    margin-bottom: 26px;
    width: 310px;
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .advantages__item {
    margin: 0;
    width: 300px;
  }
}
.advantages__item:last-child {
  margin-bottom: 0;
}
.advantages__item-image {
  display: none;
}
@media (min-width: 1200px) {
  .advantages__item-image {
    display: block;
    margin: 0 auto;
    clip-path: inset(0 0 80px 0);
  }
}
.advantages__item-title {
  margin: 0;
  margin-bottom: 14px;
  text-align: center;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
@media (min-width: 660px) {
  .advantages__item-title {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .advantages__item-title {
    width: 240px;
    margin: 0 auto;
    margin-bottom: 35px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
  }
}
.advantages__item-description {
  text-align: center;
}
@media (min-width: 660px) {
  .advantages__item-description {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .advantages__item-description {
    width: 252px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}
.advantages__image {
  display: block;
  margin: 0 auto;
}
@media (min-width: 660px) {
  .advantages__image {
    position: absolute;
    top: 244px;
    left: 20px;
    margin: 0;
    width: 268px;
    height: 547px;
  }
}
@media (min-width: 1200px) {
  .advantages__image {
    display: none;
  }
}
.effect {
  display: none;
}
@media (min-width: 660px) {
  .effect {
    position: relative;
    z-index: 1;
    display: block;
    margin-top: -23px;
    padding: 102px 20px 138px 330px;
    background: #ffffff url("../img/clocks.png") no-repeat 20px 54px/238px 276px;
  }
}
@media (min-width: 1200px) {
  .effect {
    width: 1200px;
    margin: 0 auto;
    padding: 115px 166px 120px 500px;
    background: #f2f2f2 url("../img/clocks.png") no-repeat 131px 17px/298px 345px;
  }
}
.effect__content {
  width: 660px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .effect__content {
    width: 534px;
  }
}
.effect__title {
  margin: 0;
  width: 168px;
  margin-left: auto;
  margin-right: 142px;
  margin-bottom: 24px;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .effect__title {
    width: 300px;
    margin: 0;
    margin-bottom: 27px;
    line-height: 30px;
  }
  .effect__title br {
    display: none;
  }
}
.effect__description {
  width: 308px;
  margin-left: auto;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 1200px) {
  .effect__description {
    width: 534px;
    margin: 0;
    margin-bottom: 27px;
    font-size: 18px;
    line-height: 30px;
  }
}
.effect__link {
  display: block;
  width: 306px;
  margin-left: auto;
  color: #d22856;
}
@media (min-width: 1200px) {
  .effect__link {
    width: 300px;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
  }
}
.feedbacks {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 50px 20px 20px 20px;
}
@media (min-width: 660px) {
  .feedbacks {
    width: 660px;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .feedbacks {
    width: 940px;
    margin-top: 72px;
    padding: 121px 0 0 0;
    background: url("../img/quotes.svg") no-repeat center 0/79px 63px;
  }
}
@media (min-width: 660px) {
  .feedback {
    display: flex;
    flex-direction: column;
  }
}
.feedback__author {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 11px;
  font-style: normal;
}
@media (min-width: 660px) {
  .feedback__author {
    width: 620px;
    margin-bottom: 29px;
  }
}
@media (min-width: 1200px) {
  .feedback__author {
    width: 688px;
    margin: 0 auto;
  }
}
.feedback__author-name {
  margin: 0;
  text-align: center;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
@media (min-width: 660px) {
  .feedback__author-name {
    font-size: 20px;
    margin-bottom: -7px;
  }
}
@media (min-width: 1200px) {
  .feedback__author-name {
    font-size: 24px;
    margin-bottom: -17px;
  }
}
.feedback__author-description {
  display: none;
}
@media (min-width: 660px) {
  .feedback__author-description {
    display: block;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .feedback__author-description {
    font-size: 18px;
    line-height: 30px;
  }
}
.feedback__text {
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 0;
  text-align: center;
}
@media (min-width: 660px) {
  .feedback__text {
    margin-bottom: 31px;
    order: -1;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .feedback__text {
    width: 688px;
    margin-bottom: 30px;
    line-height: 30px;
  }
}
.feedback__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 19px;
}
@media (min-width: 1200px) {
  .feedback__controls {
    display: none;
  }
}
.feedback__control {
  display: block;
  width: 1px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: rgba(40, 54, 69, 0.3);
}
.feedback__control:hover {
  background-color: rgba(40, 54, 69, 0.6);
}
.feedback__control:active {
  background-color: rgba(40, 54, 69, 0.1);
}
.feedback__control--active {
  width: 1px;
  height: 18px;
  border: 3px solid #283645;
  background-color: #ffffff;
}
.prev-feedback {
  display: none;
}
@media (min-width: 1200px) {
  .prev-feedback {
    position: absolute;
    top: 150px;
    left: 0;
    width: 22px;
    height: 41px;
    display: block;
    background-color: transparent;
    border: none;
  }
}
.prev-feedback:hover path {
  fill: #283645;
  opacity: 0.6;
}
.prev-feedback:active path {
  fill: #283645;
  opacity: 0.1;
}
.next-feedback {
  display: none;
}
@media (min-width: 1200px) {
  .next-feedback {
    position: absolute;
    top: 150px;
    right: 0;
    width: 22px;
    height: 41px;
    display: block;
    background-color: transparent;
    border: none;
    transform: rotate(180deg);
  }
}
.next-feedback:hover path {
  fill: #283645;
  opacity: 0.6;
}
.next-feedback:active path {
  fill: #283645;
  opacity: 0.1;
}
.rates {
  padding: 127px 0 49px 0;
  background: url("../img/advantages-grey-background.svg") no-repeat center 0/100% 506px;
}
@media (min-width: 660px) {
  .rates {
    padding: 114px 20px 70px 20px;
    background: url("../img/advantages-grey-background@desktop.svg") no-repeat center 0/100% 534px;
  }
}
@media (min-width: 1200px) {
  .rates {
    width: 1200px;
    margin: 0 auto;
    padding: 159px 130px 98px 130px;
    background: url("../img/rates-background@desktop.svg") no-repeat center 0/100% 534px;
  }
}
.rates__table {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 45px;
}
@media (min-width: 660px) {
  .rates__table {
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .rates__table {
    width: 940px;
  }
}
.table__header-parametres {
  display: none;
}
@media (min-width: 660px) {
  .table__header-parametres {
    display: block;
    opacity: 0;
  }
}
.table__header {
  display: none;
  grid-column: 1/-1;
  background-color: #283645;
  color: #ffffff;
}
@media (min-width: 660px) {
  .table__header {
    display: block;
    border-left: 2px solid #f2f2f2;
    grid-column: auto;
  }
}
.table__header--active {
  display: block;
}
.table__header-content {
  position: relative;
  width: 280px;
  margin: 0 auto;
  padding-top: 19px;
  padding-bottom: 35px;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  overflow: hidden;
}
@media (min-width: 660px) {
  .table__header-content {
    width: 182px;
    padding-bottom: 16px;
    border: none;
  }
}
@media (min-width: 1200px) {
  .table__header-content {
    width: 234px;
    padding-top: 23px;
    padding-bottom: 25px;
  }
}
.table__header-content--hit::before {
  position: absolute;
  top: 10px;
  left: -25px;
  display: block;
  width: 114px;
  content: "ХИТ";
  background-color: #d22856;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 30px;
  rotate: -45deg;
}
.table__header-title {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}
@media (min-width: 1200px) {
  .table__header-title {
    font-size: 18px;
  }
}
.table__header-price {
  margin: 0;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}
@media (min-width: 1200px) {
  .table__header-price {
    font-size: 24px;
  }
}
.table__parameter-name {
  padding: 14px 10px 15px 42px;
  border-bottom: 2px solid #e5e5e5;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  background-color: #ffffff;
}
@media (min-width: 660px) {
  .table__parameter-name {
    padding: 18px 15px 17px 15px;
    border: 2px solid #f2f2f2;
  }
}
@media (min-width: 1200px) {
  .table__parameter-name {
    padding: 13px 22px;
    border-width: 1px;
    font-size: 18px;
    text-transform: capitalize;
  }
}
.table__parameter {
  display: none;
  border-bottom: 2px solid #e5e5e5;
}
@media (min-width: 660px) {
  .table__parameter {
    display: block;
    border: 2px solid #f2f2f2;
  }
}
@media (min-width: 1200px) {
  .table__parameter {
    border-width: 1px;
  }
}
.table__parameter--active {
  display: block;
}
.table__parameter--yes {
  background: #ffffff url("../img/yes.svg") no-repeat center / 31px 21px;
}
.table__parameter--no {
  background: #ffffff url("../img/no.svg") no-repeat center / 27px 27px;
}
.rates__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19px;
  flex-wrap: wrap;
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 660px) {
  .rates__controls {
    display: none;
  }
}
.rates__control-button {
  width: 6px;
  height: 12px;
  border: none;
  background-color: rgba(40, 54, 69, 0.3);
  border-radius: 50%;
}
.rates__control-button:hover {
  background-color: rgba(40, 54, 69, 0.6);
}
.rates__control-button:active {
  background-color: rgba(40, 54, 69, 0.1);
}
.rates__control-button--active {
  height: 18px;
  background-color: transparent;
  border: 3px solid #283645;
}
.contacts {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 660px) {
  .contacts {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .contacts {
    width: 1200px;
  }
}
.contacts__content {
  padding: 30px 20px 22px 20px;
}
@media (min-width: 660px) {
  .contacts__content {
    padding: 35px 20px 20px 20px;
  }
}
@media (min-width: 1200px) {
  .contacts__content {
    padding: 74px 130px 26px 130px;
  }
}
.contacts__heading {
  width: 222px;
  margin: 0 auto;
  margin-bottom: 45px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}
@media (min-width: 660px) {
  .contacts__heading {
    width: 370px;
    margin-bottom: 51px;
    font-size: 40px;
    line-height: 40px;
  }
}
@media (min-width: 1200px) {
  .contacts__heading {
    width: 462px;
    margin-bottom: 61px;
    font-size: 50px;
    line-height: 65px;
  }
}
.contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 660px) {
  .contacts__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 55px;
    width: 620px;
  }
}
@media (min-width: 1200px) {
  .contacts__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 940px;
  }
}
.contacts__item:first-child {
  margin-bottom: 31px;
}
@media (min-width: 660px) {
  .contacts__item:first-child {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .contacts__item:first-child {
    order: 1;
    width: 206px;
    margin-left: 40px;
    margin-right: 111px;
  }
}
.contacts__item:nth-child(2) {
  margin-bottom: 35px;
}
@media (min-width: 660px) {
  .contacts__item:nth-child(2) {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .contacts__item:nth-child(2) {
    order: 3;
    width: 211px;
  }
}
@media (min-width: 660px) {
  .contacts__item:nth-child(3) {
    grid-column: 1/-1;
  }
}
@media (min-width: 1200px) {
  .contacts__item:nth-child(3) {
    order: 2;
    width: 241px;
    margin-right: 94px;
  }
}
.contacts__item-title {
  margin: 0;
  margin-bottom: 13px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
@media (min-width: 660px) {
  .contacts__item-title {
    margin-bottom: 17px;
  }
}
@media (min-width: 1200px) {
  .contacts__item-title {
    margin-bottom: 34px;
  }
}
.contacts__item-link {
  display: block;
  color: #d22856;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
}
.contacts__item-link:hover {
  color: #283645;
  text-decoration: underline;
}
.contacts__item-link:active {
  text-decoration: none;
  color: rgba(40, 54, 69, 0.3);
}
.contacts__map {
  width: 100%;
  height: 240px;
}
@media (min-width: 660px) {
  .contacts__map {
    width: 100%;
    height: 374px;
  }
}
@media (min-width: 1200px) {
  .contacts__map {
    width: 1200px;
    height: 502px;
  }
}
.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding: 40px 20px;
}
@media (min-width: 660px) {
  .page-footer {
    flex-direction: row;
    width: 660px;
    padding: 36px 20px 40px 20px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    width: 1200px;
    padding: 70px 130px 75px 130px;
  }
}
.page-footer__logo {
  display: block;
  margin-bottom: 41px;
}
@media (min-width: 660px) {
  .page-footer__logo {
    margin-bottom: 0;
    margin-right: 79px;
  }
}
@media (min-width: 1200px) {
  .page-footer__logo {
    margin-right: 240px;
  }
}
.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  flex-wrap: wrap;
  margin-bottom: 41px;
}
@media (min-width: 660px) {
  .social {
    margin-bottom: 0;
    margin-right: 94px;
  }
}
@media (min-width: 1200px) {
  .social {
    gap: 11px;
    margin-right: 234px;
  }
}
.social__item {
  width: 48px;
  height: 48px;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
}
.social__link:hover {
  border-color: #283645;
}
.social__link:active {
  opacity: 0.1;
}
.developer {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.developer:hover path {
  fill: #283645;
}
.developer:active path {
  fill: #283645;
  fill-opacity: 30%;
}
.developer__text {
  color: #283645;
  margin-right: 15px;
}
@media (min-width: 1200px) {
  .developer__text {
    margin-right: 13px;
    font-size: 18px;
  }
}
