@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}
.page__body {
  margin: 0;
  background-color: #ffffff;
  color: #283645;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}
.visually-hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  opacity: 0;
}
.page-header {
  width: 100%;
  margin: 0 auto;
  background: url("../img/arm.png") no-repeat center 176px/320px 286px, #283645 url("../img/header-back.png") no-repeat center 0/320px 462px;
  color: #ffffff;
}
@media (min-width: 660px) {
  .page-header {
    width: 100%;
    background: url("../img/arm@tablet.png") no-repeat center 184px/660px 545px, #283645 url("../img/header-back@tablet.png") no-repeat center 0/660px 729px;
    padding-bottom: 87px;
  }
}
@media (min-width: 1200px) {
  .page-header {
    width: 100%;
    background: url("../img/arm@desktop.png") no-repeat center 208px/1050px 645px, #283645 url("../img/header-back@desktop.png") no-repeat center 0/1200px 853px;
    padding-bottom: 120px;
  }
}
.page-header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 20px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 660px) {
  .page-header__navigation {
    padding: 27px 20px 43px 20px;
    margin-bottom: 102px;
  }
}
@media (min-width: 1200px) {
  .page-header__navigation {
    justify-content: space-between;
    padding: 27px 130px 43px 130px;
    margin-bottom: 114px;
  }
}
.page-header__navigation--active {
  background-color: #283645;
}
.page-header__menu-toggler {
  position: relative;
  width: 50px;
  height: 24px;
  border: none;
  background-color: transparent;
}
@media (min-width: 1200px) {
  .page-header__menu-toggler {
    display: none;
  }
}
.page-header__menu-toggler::before {
  position: absolute;
  top: -2px;
  left: 0;
  content: "";
  width: 50px;
  height: 5px;
  background-color: #ffffff;
  box-shadow: 0 11px 0 0 #ffffff, 0 22px 0 0 #ffffff;
}
.page-header__menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
}
.page-header__menu--open {
  position: absolute;
  top: 70px;
  left: 0;
  display: block;
  width: 100%;
  border-top: 1px solid #000000;
  background-color: #283645;
}
@media (min-width: 1200px) {
  .page-header__menu {
    display: flex;
    align-items: center;
    gap: 79px;
    flex-wrap: wrap;
    position: static;
    border: none;
    background-color: transparent;
  }
}
.page-header__menu-link {
  display: block;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid #000000;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  text-align: center;
  color: inherit;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .page-header__menu-link {
    border: none;
    line-height: 18px;
    font-weight: 400;
  }
}
.page-header__menu-link:hover {
  color: #d22856;
}
.page-header__menu-link:active {
  color: rgba(255, 255, 255, 0.3);
}
.page-header__heading-container {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 660px) {
  .page-header__heading-container {
    width: 660px;
  }
}
@media (min-width: 1200px) {
  .page-header__heading-container {
    width: 1200px;
  }
}
.page-header__heading {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 310px;
  text-align: center;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 300;
}
@media (min-width: 660px) {
  .page-header__heading {
    width: 230px;
    margin: 0;
    margin-left: 55px;
    margin-bottom: 39px;
    font-size: 40px;
    line-height: 48px;
  }
}
@media (min-width: 1200px) {
  .page-header__heading {
    width: 300px;
    margin-left: 130px;
    margin-bottom: 51px;
    font-size: 50px;
    line-height: 50px;
  }
}
.page-header__install-container {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 660px) {
  .page-header__install-container {
    width: 660px;
  }
}
@media (min-width: 1200px) {
  .page-header__install-container {
    width: 1200px;
  }
}
.install {
  padding: 28px 20px 38px 20px;
  background-color: #1d2631;
}
@media (min-width: 660px) {
  .install {
    width: 300px;
    margin-left: 20px;
    padding: 0;
    background-color: transparent;
  }
}
@media (min-width: 1200px) {
  .install {
    margin-left: 130px;
  }
}
.install__link {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 32px;
  border: 3px solid #ffffff;
  padding-top: 20px;
  padding-bottom: 18px;
  border-radius: 29px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}
@media (min-width: 660px) {
  .install__link {
    width: 300px;
    margin-bottom: 46px;
  }
}
@media (min-width: 1200px) {
  .install__link {
    margin-bottom: 67px;
    font-size: 21px;
  }
}
.install__link:hover {
  background-color: #ffffff;
  color: #d22856;
}
.install__link:active {
  background-color: #ffffff;
  color: rgba(210, 40, 86, 0.3);
}
.install__links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
  width: 280px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
  margin-bottom: 28px;
}
@media (min-width: 660px) {
  .install__links-list {
    margin-bottom: 38px;
  }
}
@media (min-width: 1200px) {
  .install__links-list {
    margin-bottom: 58px;
  }
}
.install__ally {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
}
@media (min-width: 660px) {
  .install__ally {
    width: 300px;
    font-size: 18px;
    line-height: 24px;
  }
}
.advantages {
  position: relative;
  padding-top: 46px;
  background: url("../img/advantages-grey-background.svg") no-repeat center 174px/100% 828px;
}
@media (min-width: 660px) {
  .advantages {
    padding-top: 58px;
    padding-bottom: 49px;
    background-size: 100% 695px;
    background-position: center 216px;
  }
}
@media (min-width: 1200px) {
  .advantages {
    padding-top: 67px;
    padding-bottom: 59px;
    background: url("../img/advantages-grey-background@desktop.svg") no-repeat center 317px/100% 715px;
  }
}
.advantages__start-text {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 123px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}
@media (min-width: 660px) {
  .advantages__start-text {
    width: 588px;
    margin-bottom: 122px;
    font-size: 40px;
    line-height: 50px;
  }
  .advantages__start-text br:first-child {
    display: none;
  }
  .advantages__start-text br:nth-child(2) {
    display: none;
  }
}
@media (min-width: 1200px) {
  .advantages__start-text {
    width: 780px;
    margin-bottom: 72px;
    font-size: 50px;
    line-height: 60px;
  }
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 28px;
}
@media (min-width: 660px) {
  .advantages__list {
    width: 620px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .advantages__list {
    width: 940px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
.advantages__item {
  margin-bottom: 23px;
}
@media (min-width: 660px) {
  .advantages__item {
    margin-bottom: 26px;
    width: 310px;
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .advantages__item {
    margin: 0;
    width: 300px;
  }
}
.advantages__item:last-child {
  margin-bottom: 0;
}
.advantages__item-image {
  display: none;
}
@media (min-width: 1200px) {
  .advantages__item-image {
    display: block;
    margin: 0 auto;
    clip-path: inset(0 0 80px 0);
  }
}
.advantages__item-title {
  margin: 0;
  margin-bottom: 14px;
  text-align: center;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
@media (min-width: 660px) {
  .advantages__item-title {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .advantages__item-title {
    width: 240px;
    margin: 0 auto;
    margin-bottom: 35px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
  }
}
.advantages__item-description {
  text-align: center;
}
@media (min-width: 660px) {
  .advantages__item-description {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .advantages__item-description {
    width: 252px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}
.advantages__image {
  display: block;
  margin: 0 auto;
}
@media (min-width: 660px) {
  .advantages__image {
    position: absolute;
    top: 244px;
    left: 20px;
    margin: 0;
    width: 268px;
    height: 547px;
  }
}
@media (min-width: 1200px) {
  .advantages__image {
    display: none;
  }
}
.effect {
  display: none;
}
@media (min-width: 660px) {
  .effect {
    position: relative;
    z-index: 1;
    display: block;
    margin-top: -23px;
    padding: 102px 20px 138px 330px;
    background: #ffffff url("../img/clocks.png") no-repeat 20px 54px/238px 276px;
  }
}
@media (min-width: 1200px) {
  .effect {
    width: 1200px;
    margin: 0 auto;
    padding: 115px 166px 120px 500px;
    background: #f2f2f2 url("../img/clocks.png") no-repeat 131px 17px/298px 345px;
  }
}
.effect__content {
  width: 660px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .effect__content {
    width: 534px;
  }
}
.effect__title {
  margin: 0;
  width: 168px;
  margin-left: auto;
  margin-right: 142px;
  margin-bottom: 24px;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .effect__title {
    width: 300px;
    margin: 0;
    margin-bottom: 27px;
    line-height: 30px;
  }
  .effect__title br {
    display: none;
  }
}
.effect__description {
  width: 308px;
  margin-left: auto;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 1200px) {
  .effect__description {
    width: 534px;
    margin: 0;
    margin-bottom: 27px;
    font-size: 18px;
    line-height: 30px;
  }
}
.effect__link {
  display: block;
  width: 306px;
  margin-left: auto;
  color: #d22856;
}
@media (min-width: 1200px) {
  .effect__link {
    width: 300px;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
  }
}
.feedbacks {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 50px 20px 30px 20px;
}
@media (min-width: 660px) {
  .feedbacks {
    width: 660px;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .feedbacks {
    width: 940px;
    margin-top: 72px;
    padding: 121px 0 0 0;
    background: url("../img/quotes.svg") no-repeat center 0/79px 63px;
  }
}
@media (min-width: 660px) {
  .feedback {
    display: flex;
    flex-direction: column;
  }
}
.feedback__author {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 11px;
  font-style: normal;
}
@media (min-width: 660px) {
  .feedback__author {
    width: 620px;
    margin-bottom: 29px;
  }
}
@media (min-width: 1200px) {
  .feedback__author {
    width: 688px;
    margin: 0 auto;
  }
}
.feedback__author-name {
  margin: 0;
  text-align: center;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
@media (min-width: 660px) {
  .feedback__author-name {
    font-size: 20px;
    margin-bottom: -7px;
  }
}
@media (min-width: 1200px) {
  .feedback__author-name {
    font-size: 24px;
    margin-bottom: -17px;
  }
}
.feedback__author-description {
  display: none;
}
@media (min-width: 660px) {
  .feedback__author-description {
    display: block;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .feedback__author-description {
    font-size: 18px;
    line-height: 30px;
  }
}
.feedback__text {
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 0;
  text-align: center;
}
@media (min-width: 660px) {
  .feedback__text {
    margin-bottom: 31px;
    order: -1;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .feedback__text {
    width: 688px;
    margin-bottom: 30px;
    line-height: 30px;
  }
}
.feedback__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 19px;
}
@media (min-width: 1200px) {
  .feedback__controls {
    display: none;
  }
}
.feedback__control {
  display: block;
  width: 1px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: rgba(40, 54, 69, 0.3);
}
.feedback__control:hover {
  background-color: rgba(40, 54, 69, 0.6);
}
.feedback__control:active {
  background-color: rgba(40, 54, 69, 0.1);
}
.feedback__control--active {
  width: 1px;
  height: 18px;
  border: 3px solid #283645;
  background-color: #ffffff;
}
.prev-feedback {
  display: none;
}
@media (min-width: 1200px) {
  .prev-feedback {
    position: absolute;
    top: 150px;
    left: 0;
    width: 22px;
    height: 41px;
    display: block;
    background-color: transparent;
    border: none;
  }
}
.prev-feedback:hover path {
  fill: #283645;
  opacity: 0.6;
}
.prev-feedback:active path {
  fill: #283645;
  opacity: 0.1;
}
.next-feedback {
  display: none;
}
@media (min-width: 1200px) {
  .next-feedback {
    position: absolute;
    top: 150px;
    right: 0;
    width: 22px;
    height: 41px;
    display: block;
    background-color: transparent;
    border: none;
    transform: rotate(180deg);
  }
}
.next-feedback:hover path {
  fill: #283645;
  opacity: 0.6;
}
.next-feedback:active path {
  fill: #283645;
  opacity: 0.1;
}
